In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
# Read Rental dataset and check it's info
main_rent = pd.read_csv("/Users/seanteng/Downloads/RentingOutofFlats2024CSV.csv")
print(main_rent.info())
main_rent.head()

In [ ]:
# Drop NA values, if any, and check info again
main_rent_1 = main_rent.dropna()
main_rent_1.info()

In [ ]:
# Outliers using interquartile
# Calculate 25th and 75th percentile and the IQR
q1_rent = np.percentile(main_rent_1['monthly_rent'], 25)
q3_rent = np.percentile(main_rent_1['monthly_rent'], 75)
iqr = int(q3_rent - q1_rent)
print(iqr)

# Get lower and upper bound; original is 1.5 of iqr
lower_bound = int(q1_rent - 1.6*iqr)
upper_bound = int(q3_rent + 2*iqr)
print(lower_bound)
print(upper_bound)

In [ ]:
# Check and label each row to identify if they are outliers
main_rent_1['Check outlier'] = ""
for i in range(main_rent_1.shape[0]):
    if main_rent_1['monthly_rent'][i] < lower_bound:
        main_rent_1.loc[i, 'Check outlier'] = "Below lower bound"
    elif main_rent_1['monthly_rent'][i] > upper_bound:
        main_rent_1.loc[i, 'Check outlier'] = "Above upper bound"
    else:
        main_rent_1.loc[i, 'Check outlier'] = ""

main_rent_1.head()

In [ ]:
# View the rows which are outliers
main_rent_1.loc[(main_rent_1['Check outlier'] == 'Below lower bound') | (main_rent_1['Check outlier'] == 'Above upper bound')]

In [ ]:
# Extract Year and Month from the date field
main_rent_1['Year'] = 0
main_rent_1['Month'] = 0
for i in range(main_rent_1.shape[0]):
    main_rent_1.loc[i, 'Year'] = main_rent_1.loc[i, 'rent_approval_date'][0:4]
    main_rent_1.loc[i, 'Month'] = main_rent_1.loc[i, 'rent_approval_date'][(len(main_rent_1.loc[0, 'rent_approval_date'])-2):(len(main_rent_1.loc[0, 'rent_approval_date']))]
print(main_rent_1.info())
main_rent_1.head()

In [ ]:
# Taking a sample of 7 towns for the year 2021 and comparing their average rent for each flat type
main_rent_1.groupby(by=['Year','town','flat_type']).mean('monthly_rent').reset_index().pivot(index = ['Year','flat_type'], columns = 'town',values = 'monthly_rent').fillna(0).astype(int).drop(index='0001').loc['2021', ['ANG MO KIO','BISHAN','QUEENSTOWN','WOODLANDS','PUNGGOL','JURONG WEST','YISHUN']]

In [ ]:
# Plotting the above on a line chart
main_rent_1.groupby(by=['Year','town','flat_type']).mean('monthly_rent').reset_index().pivot(index = ['Year','flat_type'], columns = 'town',values = 'monthly_rent').fillna(0).astype(int).drop(index='0001').loc['2021', ['ANG MO KIO','BISHAN','QUEENSTOWN','WOODLANDS','PUNGGOL','JURONG WEST','YISHUN']].plot.line(title='2021 comparison of flat type against location',lw=3, figsize=(5,5))

In [ ]:
# Getting the average rent price for each town from 2021 to 2024
main_rent_1_group = main_rent_1.loc[main_rent_1['Check outlier']==""].groupby(by = ['Year', 'town']).mean('monthly_rent').reset_index().pivot(index = 'Year', columns = 'town', values = 'monthly_rent').drop(index = '0001').dropna(axis=1).astype(int)
main_rent_1_group

In [ ]:
# Plotting the above to see the trend throughout the years
main_rent_1_group.plot.line(figsize = (5,7)).legend(fontsize = 6, loc = 'upper left')

In [ ]:
# Checking trend of average rent price for each flat type from 2021 to 2024
main_rent_2_group = main_rent_1.loc[main_rent_1['Check outlier']==""].groupby(by = ['Year', 'flat_type']).mean('monthly_rent').reset_index().pivot(index = 'Year', columns = 'flat_type', values = 'monthly_rent').drop(index = '0001').dropna(axis=1).astype(int)
main_rent_2_group

In [ ]:
# Plotting the above in a bar chart
main_rent_2_group.plot.bar(figsize = (5,5)).legend(fontsize = 7, loc = 'upper left')

In [ ]:
# Checking average monthly rent for all towns and all flat types from 2021 to 2024
main_rent_1_group_1 = main_rent_1.loc[main_rent_1['Check outlier']==""].groupby(by = ['Year']).mean('monthly_rent').drop(index = '0001')
main_rent_1_group_1

In [ ]:
# Converting values to integer
main_rent_1_group_1['monthly_rent'] = main_rent_1_group_1['monthly_rent'].apply(lambda x: int(x))
main_rent_1_group_2 = main_rent_1_group_1.rename(columns = {"monthly_rent":"Avg monthly rent"})
main_rent_1_group_2.head()

In [ ]:
# Plotting the above on line chart
main_rent_1_group_2.plot.line(lw = 5)

In [ ]:
# Read bank interest rate dataset and check its info
main_bank_interest_rate = pd.read_csv("/Users/seanteng/Downloads/CurrentBanksInterestRatesEndOfPeriodMonthly.csv", index_col = 0)
print(main_bank_interest_rate.info())
main_bank_interest_rate.head()

In [ ]:
# Transpose dataset to make it a long dataset instead of a wide dataset
main_bank_interest_rate_1 = main_bank_interest_rate.transpose()
main_bank_interest_rate_2 = main_bank_interest_rate_1.reset_index().rename(columns = {"index":"Year Month"})
main_bank_interest_rate_2.head()

In [ ]:
# Extract Year from date
main_bank_interest_rate_2['Year'] = ""
for i in range(main_bank_interest_rate_2.shape[0]):
    main_bank_interest_rate_2.loc[i, 'Year'] = main_bank_interest_rate_2.loc[i, 'Year Month'][0:4]
print(main_bank_interest_rate_2.info())
main_bank_interest_rate_2.head()

In [ ]:
# Get data for 2021 to 2024 and convert interest rate to float
main_bank_interest_rate_3 = main_bank_interest_rate_2.loc[(main_bank_interest_rate_2['Year'] == '2024')|(main_bank_interest_rate_2['Year'] == '2023')|(main_bank_interest_rate_2['Year'] == '2022')|(main_bank_interest_rate_2['Year'] == '2021')]
main_bank_interest_rate_3["Singapore Overnight Rate Average"] = main_bank_interest_rate_3["Singapore Overnight Rate Average"].apply(lambda x: float(x))
print(main_bank_interest_rate_3.info())

In [ ]:
# Group by year and get the average interest rate for the year
main_bank_interest_rate_3_group = main_bank_interest_rate_3.groupby(by = "Year").mean("Singapore Overnight Rate Average")
main_bank_interest_rate_3_group

In [ ]:
# Plot the above on a line chart
main_bank_interest_rate_3_group.plot.line(figsize=(5,5),lw=4, color = 'g', title='Avg SORA per year')

In [ ]:
# Read income tax data and check info
main_income_tax = pd.read_csv("/Users/seanteng/Downloads/TaxableIndividualsbyAssessedIncomeGroup.csv")
print(main_income_tax.info())
main_income_tax.head()

In [ ]:
# Filter for year 2021 to 2024
main_income_tax_1 = main_income_tax.loc[(main_income_tax['year_of_assessment'] == 2021)|(main_income_tax['year_of_assessment'] == 2022)|(main_income_tax['year_of_assessment'] == 2023)|(main_income_tax['year_of_assessment'] == 2024)]
main_income_tax_1.head()

In [ ]:
# Filter for income group $80k and above
main_income_tax_2 = main_income_tax_1.loc[(main_income_tax_1['assessed_income_group'] == '80,001 - 100,000')|
(main_income_tax_1['assessed_income_group'] == '100,001 - 150,000')|(main_income_tax_1['assessed_income_group'] == '150,001 - 200,000')|
(main_income_tax_1['assessed_income_group'] == '200,001 - 300,000')|(main_income_tax_1['assessed_income_group'] == '300,001 - 400,000')|
(main_income_tax_1['assessed_income_group'] == '400,001 - 500,000')|(main_income_tax_1['assessed_income_group'] == '500,001 - 1,000,000')|
(main_income_tax_1['assessed_income_group'] == '1,000,001 & above')]
main_income_tax_2.head()

In [ ]:
# Check no. of taxpayers and their assessable income for income group of $80k and above
main_income_tax_3 = main_income_tax_2.groupby(by = 'year_of_assessment').sum('number_of_taxpayers')
main_income_tax_3

In [ ]:
# Plot the no. of taxpayers on a bar chart
main_income_tax_3['number_of_taxpayers'].plot.bar(color='orange', figsize = (5,5), title = 'No. of taxpayers above $80k annual')

In [ ]:
# Plot the assessable income on a bar chart
main_income_tax_3['assessable_income'].plot.bar(color = 'g', figsize = (5,5), title='Assessable income of tax payers > $80k per annum')

In [ ]:
# Read the Foreign Workforce dataset and check info
main_foreign_workforce = pd.read_csv("/Users/seanteng/Downloads/StockofForeignWorkforcebyPassType.csv")
print(main_foreign_workforce.info())
main_foreign_workforce.head()

In [ ]:
# Change 'count' column to integer
main_foreign_workforce['count'] = main_foreign_workforce['count'].str.replace(",","")
main_foreign_workforce
main_foreign_workforce['count'] = main_foreign_workforce['count'].apply(lambda x: int(x))
print(main_foreign_workforce.info())
main_foreign_workforce.head()

In [ ]:
# Filter for employment pass and s pass
main_foreign_workforce_emp_s = main_foreign_workforce.loc[(main_foreign_workforce['work_pass_type']=='employment_pass')|(main_foreign_workforce['work_pass_type']=='s_pass')]
main_foreign_workforce_emp_s

In [ ]:
# Group by Year and Workpass type
main_foreign_workforce_emp_s.groupby(by = ['month','work_pass_type']).sum()

In [ ]:
# Plot the above on a line chart
main_foreign_workforce_emp_s.pivot(index = 'month', columns = 'work_pass_type')['count'].plot.line(figsize=(5,5),lw=4,title='Trend of no. of employment pass and s pass')

In [ ]:
# Read Unemployment dataset and check info
main_unemployment = pd.read_csv("/Users/seanteng/Downloads/OverallUnemploymentRateQuarterly.csv")
print(main_unemployment.info())
main_unemployment.head()

In [ ]:
# Extract Year part
main_unemployment['Year'] = ""
for i in range(main_unemployment.shape[0]):
    main_unemployment.loc[i, 'Year'] = main_unemployment.loc[i, 'period'][0:4]
main_unemployment.head()

In [ ]:
# Filter for 2021 to 2024
main_unemployment_1 = main_unemployment.loc[(main_unemployment['Year'] == '2021')|(main_unemployment['Year'] == '2022')|
(main_unemployment['Year'] == '2023')|(main_unemployment['Year'] == '2024')]
main_unemployment_1.head()

In [ ]:
# Plot the unemployment rate on a line chart
main_unemployment_1.groupby(by = 'Year').mean('seasonally_adj_unemp_rate')['seasonally_adj_unemp_rate'].plot.line(figsize=(5,5), lw=4, title='Unemployment rate')

In [ ]:
# Read the Resale Flat Price dataset and check info
main_flat_prices = pd.read_csv('/Users/seanteng/Downloads/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')
print(main_flat_prices.info())
main_flat_prices.head()

In [ ]:
# Extract year part
main_flat_prices['Year'] = ""
for i in range(main_flat_prices.shape[0]):
    main_flat_prices.loc[i, 'Year'] = main_flat_prices.loc[i, 'month'][0:4]
main_flat_prices.head()

In [ ]:
# Filter for 2021 to 2024
main_flat_prices_1 = main_flat_prices.loc[(main_flat_prices['Year'] == '2021')|(main_flat_prices['Year'] == '2022')|
(main_flat_prices['Year'] == '2023')|(main_flat_prices['Year'] == '2024')]
main_flat_prices_1.head()

In [ ]:
# Plot the resale price for 2021 to 2024 on a bar chart
main_flat_prices_1.groupby(by = 'Year').mean('resale_price')['resale_price'].plot.bar(figsize=(5,5),lw=4,title='Avg resale price of flats', color='blue', ylim=(400000,630000))